/* ----- Default scroll bars to on to prevent flicker ----- */

/* Firefox */
html { overflow: -moz-scrollbars-vertical; }
html { overflow-x: auto; }

/* safari */
html { overflow-y: scroll; }


/* --- BROWSER RESET STYLES --- */
html,body,div,span,
applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dd,dl,dt,li,ol,ul,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	line-height: 1;
	font-family: inherit;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	/*-webkit-text-stroke-width: .05px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;*/
    /*-moz-font-smoothing: antialiased;*/
    /*text-rendering:optimizeLegibility;*/
    /*text-shadow: 1px 1px #fff;*/

    

}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol,ul {
	list-style: none;
}
q:before,q:after,
blockquote:before,blockquote:after {
	content: "";
}

/*
 * --- Common elements ---------------------------------------------
 */
body {
	text-align: center;
    background-color:#FFFFFF;
    font-family:Arial, Verdana, Helvetica, sans-serif;
    font-size:11px;
    /*margin-top:20px;*/
    /*-webkit-font-smoothing: subpixel-antialiased!;*/
}
 
div#homecontainer {
    margin-left: auto; 
    margin-right: auto;
    width:995px;
    /*height:850px;*/ 
    text-align:left; 
    left:50%;
    margin-top:0px;
    /*background-image:url(images/homepage_background2.jpg);
    background-repeat:no-repeat;*/
    background-color:White; 
    margin-bottom:45px;
}

div#header {
    width:909px;
    height:182px;
    /*padding-left:57px;*/
}

div#logo {
    float:left; 
    width:410px; 
    height:143px; 
    background-color:#fff;
    padding-left:279px;
}

div#main {
    width:995px;
    /*height:565px;/*
    /*border:1px solid black;*/
    /*background-image:url('images/nav_bkgrd_left_right_vert_line.gif'); 
    background-repeat:repeat-y;*/
}

div#innerMain 
{
    margin-left:21px;
    border-left:1px solid #676767;
    border-right:1px solid #676767;
    border-bottom:1px solid #676767;
    float:left;
    width:951px;
    padding-top:18px;
}

div#innerinnerMain {
 float:left;
 padding-left:70px;
 padding-right:10px;
 padding-bottom:20px;   
}

div#leftMain {
float:left;
width:347px;
height:400px;
padding-top:18px;    
}

div#rightMain {
 float:left;
 width:600px;
 height:400px;
 padding-top:18px;  
}

body#home div#innerMain p {
    color:#787878;
}

div#email a{
    float:left; 
    width:175px; 
    font-family:Arial, Verdana, Helvetica, sans-serif;
    color:white; 
    font-weight:normal;
    font-size:14px; 
    text-align:left;
    padding-left:2px;
    line-height:18px;
    text-decoration:none;
}


div#phone {
    float:left; 
    width:111px; 
    font-family:Arial, Verdana, Helvetica, sans-serif;
    color:white; 
    font-weight:normal;
    font-size:14px; 
    text-align:left;
    padding-left:30px;
    line-height:18px;
}

div#address {
    float:left; 
    width:302px; 
    font-family:Arial, Verdana,Helvetica, sans-serif;
    color:white; 
    font-weight:normal;
    font-size:14px; 
    text-align:left;
    padding-left:35px;
    line-height:18px;
}

div#copyright {
    float:right; 
    width:215px; 
    font-family:Arial, Verdana, Helvetica, sans-serif;
    color:white; 
    font-weight:normal;
    font-size:14px; 
    text-align:right;
    padding-right:30px;
    line-height:18px;
}
body#home p {
	font-size: 14px;
}

/*  Default settings for table/div cells  */
div, p, h1, h2, h3, h4, h5, h6, h7, li, input, a, td, textarea {
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:500; 
	font-style:normal; 
	font-size:14px; 
	color:#000000; 
	line-height:20px;
}
p {
	line-height: 17px;
}

h1, h2, h3, h4, h5, h6, h7 {

}

h1 {
	font-family:Verdana, Arial; 
	font-weight:500;
	font-style:normal; 
	font-size:28px; 
	color:#0075b4;
	clear:left;
	padding-top:15px;
	padding-bottom:20px;
}

h2 {
	font-family:Verdana, Arial;  
	font-weight:500;
	font-style:normal; 
	font-size:27px; 
	color:#0075b4;
	clear:left;
}

h3 {
	font-family:Verdana, Arial; 
	font-weight:500;
	font-style:normal; 
	font-size:24px; 
	color:#0075b4;
	clear:left;
}

h4 {
	font-family:Verdana, Arial; 
	font-weight:bold; 
	font-style:normal; 
	font-size:16px; 
	color:#a93439;
}

h5 {
	font-family:Verdana, Arial;  
	font-weight:bold; 
	font-style:normal; 
	font-size:15px; 
	color:#a93439;
}

h6 {
    font-family:Verdana, Arial;  
    font-weight:bold; 
    font-style:normal; 
    font-size:14px; 
    color:#000000; 
    line-height:20px;
}



.reduce-margin {
	margin-bottom: 4px;
}



.align_middle {
	margin: 0 auto;
	text-align: center; 
}

/*
 * HR lines
 */
.hr-dashed, p.hr-dashed, div.hr-dashed {
	height: 2px;
	line-height: 2px;
	font-size: 2px;
	clear: both;
	border-top-width: 2px;
	border-top-style: dotted;
	border-top-color: #DDDDDD;
	margin-top: 14px;
	margin-bottom: 8px;
}
div.hr-dashed {
	margin-top: 6px;
	margin-bottom: 0px;
}

/*
 * Other
 */
ul, ol {
	padding: 0;
	line-height: 16px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 17px;
	text-align: left;
	list-style-type: disc;
}
ol {
	list-style-type: decimal;
	margin-left: 20px;
}
li {
	margin: 0px;
	padding-bottom: 3px;
	line-height: 20px;
	font-family: Arial, Verdana;
	font-weight:500; 
	font-style:normal; 
	font-size:14px; 
	color:#000000;
}
li a:link, li a:visited, li a:active {
	text-decoration: underline;
}
li a:hover {
	text-decoration: none;
}
ul li ul {
	margin-bottom: 0px;
}
ul li ul li {
	list-style-type: circle;
}


a.teamphotorollover     
{
    display: block;    
    width: 113px;    
    height: 112px;    
    text-decoration: none;    
    /*background: url("images/team/team_photo1.png"); */   
}
a.teamphotoover     
{
    display: block;    
    width: 113px;    
    height: 112px;    
    text-decoration: none;    
    /*background: url("images/team/team_photo1.png"); */
    background-position: 0 -112px;   
}
a.teamphotorollover:hover     
{
    background-position: 0 -112px;    
}

a.portfoliorollover     
{
    display: block;    
    width: 120px;    
    height: 70px;    
    text-decoration: none;    
    /*background: url("images/team/team_photo1.png"); */   
}

a.portfoliorollover:hover     
{
    background-position: 0 -70px;    
}

div.redMuseoNoBold15 {
    font-family:Arial, Verdana; 
    font-weight:300; 
    font-style:normal; 
    font-size:15px; 
    color:#a93439;
}

.redMuseoSlabNoBold15 {
    font-family:Arial, Verdana;
    font-weight:300; 
    font-style:normal; 
    font-size:15px; 
    color:#a93439;
}

.blueMuseoSans700Italic {
	font-family:Verdana, Arial;  
	font-weight:700;
	font-style:italic; 
	font-size:32px; 
	color:#0075b4;
}
.blueMuseoSans700 {
    font-family:Arial, Verdana;  
    font-weight:700; 
    font-style:normal; 
    font-size:15px; 
    color:#0075b4; 
}
.redMuseoSans700 {
    font-family:Arial, Verdana;  
    font-weight:700; 
    font-style:normal; 
    font-size:15px; 
    color:#a93439;
    text-transform:uppercase;
}
